<div class="mt-4">
    <a href="/news" class="font-bold text-xl link-primary underline">Tất cả tin tức</a>
  <form action="/news/upload" method="post">
    <div class="mb-3">
      <label for="" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" />

    </div>
    <div class="mb-3">
      <label for="" class="form-label">Description</label>
      <input type="text" class="form-control" name="description"/>
    </div>

    <div class="mb-3">
      <label for="" class="form-label">link image</label>
      <input type="text" class="form-control" value="https://picsum.photos/200/300" name="image"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>