// -- coppy lại i chang css phần tử.
// @extend .error: coppy lại các thuộc tính hiện có của class error. kể cả hover và ...

.error {
  border: 33px solid #fff;
  &--serious {
    @extend .error;
    color: red;
  }
}

//result
.error,
.error--serious {
  border: 33px solid #fff;
}
.error--serious {
  color: red;
}
