<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a href="/" class="navbar-brand">Learn Node JS</a>
    <div class="d-flex nav-item dropdown">
      <img src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" alt="" class="w-[30px] h-[30px] rounded-full mr-2">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quoc_truong</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li>
          <hr class="dropdown-divider">
          </li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
  </div>
  </div>
</nav>